<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Furniture"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:banner="@drawable/app_icon_your_company"
            android:exported="true"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/title_activity_product_main"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="true">
            <!-- Add any necessary banner, icon, or label specific to RegisterActivity here -->
        </activity>
        <activity
            android:name=".AdminLoginActivity"
            android:exported="true">
            <!-- Add any necessary banner, icon, or label specific to RegisterActivity here -->
        </activity>

        <activity
            android:name=".ProductMainActivity"
            android:exported="true">
            <!-- Add any necessary banner, icon, or label specific to RegisterActivity here -->
        </activity>

        <activity
            android:name=".DetailsActivity"
            android:exported="false" />

        <activity
            android:name=".PlaybackActivity"
            android:exported="false" />

        <activity
            android:name=".BrowseErrorActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />


    </application>

</manifest>
